<form action="http://localhost:8080/api/auth/register" method="POST">
    <input type="text" placeholder="Email@mail.com" name="email">
    <br>
    <input type="text" placeholder="Password" name="password">
    <br>
    <input type="text" placeholder="First Name" name="firstName">
    <br>
    <input type="text" placeholder="Last Name" name="lastName">
    <br>
    <input type="number" placeholder="Age" name="age">
    <br>
    <button type="submit">Sign up</button>
</form>